---
import Menu from '../../components/Menu.astro';
import Footer from '../../components/Footer.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Mentions légales</title>
    <meta name="description" content="Mentions légales du site Bilene Kite Center au Mozambique">
    <meta name="keywords" content="photo, photos, vidéo, vidéos, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, cours, iko, coaching, progression, haut-niveau, olk, one Launch kiteboarding, lessons">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H1CJQ1EJQS"></script>
</head>
<body>  
    <Menu />

    <main>
        <h1>Mentions Légales</h1>

    <div class="section">
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique (L.C.E.N.), il est porté à la connaissance des utilisateurs du site <strong>Bilene Kite Center</strong> les présentes mentions légales.</p>
    </div>

    <div class="section">
        <h2>1. Édition du site</h2>
        <p>Le présent site, accessible à l’URL <strong>https://bilenekite.com/</strong>, est édité par :</p>
        <ul>
            <li><strong>Nom/Raison sociale :</strong>Mocambique Action Sport, LDA</li>
            <li><strong>Statut juridique :</strong> Sociedade por Quotas<li>
            <li><strong>Siège social :</strong> Mocambique, Maputo Cidade, Distrito Urbano 1 Bairro da COOP, Rua E, casa 12.</li>
            <li><strong>Numéro SIRET/SIREN :</strong> 100979918</li>
            <li><strong>Directeur de la publication :</strong> Guillaume Etienne</li>
            <li><strong>Contact :</strong> contact@bilenekite.com / +258 87 006 2521</li>
        </ul>
    </div>

    <div class="section">
        <h2>2. Hébergement</h2>
        <p>Le Site est hébergé par la société <strong>Ionos</strong>, </strong> (Contact : www.ionos.fr).</p>
    </div>

    <div class="section">
        <h2>3. Propriété intellectuelle</h2>
        <p>L'ensemble du contenu de ce site (textes, images, graphismes, logo, icônes) est la propriété exclusive de <strong>Mocambique Action Sport, LDA</strong>, sauf mention contraire. Toute reproduction, distribution, modification ou adaptation de ces différents éléments est strictement interdite sans l'accord écrit préalable de l'éditeur.</p>
    </div>

    <div class="section">
        <h2>4. Données personnelles</h2>
        <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
        <p>En vertu de la loi Informatique et Libertés, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit par mail à : <strong>contact@bilenekite.com</strong>.</p>
    </div>

    <div class="section">
        <h2>5. Cookies</h2>
        <p>Ce site n'utilise pas de cookie.</p>
    </div>
    </main>
    <Footer />
    <script src="https://kit.fontawesome.com/0bdd5e4611.js" crossorigin="anonymous"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
</body>
</html>
