---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <Analytics />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Bilene, Activities, excursions, visits, in Mozambique</title>
    <meta name="description" content="In Bilene, activities, visits, safaris, excursions and visit of Maputo, in Mozambique">
    <meta name="keywords" content="Activities, activity, trip, trips, excursion, excursions, visit, visits, discovery, accommodation, hotel, restaurant, kite, kitesurf, wing, Wingfoil, SUP, paddle, Mozambique, Bilene, lessons, trip, travel, trips">
</head>
<body>
    <MenuEN />

    <main>
        <section id="intro-acti">
            <div id="backgroundimgexcu" class="backgroundimg">
                <div id="vignette1" class="vignette" data-aos="fade-right">
                </div>
                <div id="vignette2" class="vignette" data-aos="fade-down">
                    <h3>Between water sessions</h3>
                    <h1>Activities in Bilene</h1>
                    <p>We offer many activities in and around Bilene, discover the local wildlife,
                        the stunning landscapes, but also its inhabitants, their traditions, customs, songs, culinary specialties</p>
                </div>
            </div>
        </section>
        <section id="secflex">
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/limpo2.webp" alt="ocean landscape view">
                    <h3>The Limpopo Lighthouse</h3>
                </div>
                <div class="flexbottom">
                    <p>(Kite Trip Possible) A 4x4 excursion one hour from Bilene on typical African tracks, discovering a lighthouse and stunning landscapes</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Far from cities and typical tourist spots of southern Mozambique, we drive in 4x4 through beautiful rural roads and small villages until we discover this particular lighthouse. Located in the middle of a true tropical paradise, it is the second tallest lighthouse in Africa.</p>
                        <h3>DURATION:</h3>
                        <p>Departure at 10am. Return after lunch, around 4-5pm.</p>
                        <h3>MEALS:</h3>
                        <p>Lunch included</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Comfortable shoes and clothing, swimsuit, cap, sunscreen, mosquito repellent.</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>60€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Macia.webp" alt="a local Mozambican market">
                    <h3>The Village of Macia</h3>
                </div>
                <div class="flexbottom">
                    <p>30 min from Bilene, the small town of Macia, its fruit market, shops, its Cashew Nut factory</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>This village, located 30 km from Bilene, is a typical small town in Mozambique. Walking through its streets and market, you can discover for yourself what daily life looks like for its inhabitants and where they do their shopping. If you have in mind a typical African souk, this one is quite different, Macia is not a tourist town, its inhabitants are very friendly and calm, and you can walk peacefully among the different fruit and craft stands with our guide.</p>
                        <h3>DURATION:</h3>
                        <p>Departure at 09:30. Return around 1:00pm.</p>
                        <h3>MEALS:</h3>
                        <p>Not included</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Comfortable shoes and clothing, swimsuit, cap, sunscreen, mosquito repellent.</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>10€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Traditionnal.webp" alt="African women in traditional cooking">
                    <h3>Traditional cooking and life</h3>
                </div>
                <div class="flexbottom">
                    <p>The inhabitants of Bilene welcome you into their homes, to discover their way of life, and also to introduce you to cooking typical dishes of the region</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Mozambicans are an incredibly welcoming and warm society. With the help of Felix, our guide, we invite you to discover life in Bilene, to dive into its daily life, explore its customs, and learn to cook their most delicious traditional dish, "Matapa". You will be delighted by this unforgettable adventure at the heart of Mozambican culture!</p>
                        <h3>DURATION:</h3>
                        <p>Departure at 09:30. Return around 1:00pm.</p>
                        <h3>MEALS:</h3>
                        <p>Traditional lunch</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone, expect a few kilometers of walking</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Comfortable shoes and clothing, cap, sunscreen, water for the road</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>10€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/annick.webp" alt="boat on water seen from drone">
                    <h3>The ocean, the turtles</h3>
                </div>
                <div class="flexbottom">
                    <p>And whales offshore (depending on season). Boat excursion to the ocean, home to a family of turtles.</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>We take you by boat to the mouth of the lagoon, in a breathtaking landscape, you can walk along the ocean, swim, then climb a small cliff (less than 100m) to overlook a family of sea turtles that resides there.
                            Between September and November, whales pass along the coast of Mozambique during their migration, you can see them in the distance, majestic.
                            </p>
                        <h3>DURATION:</h3>
                        <p>At your convenience, up to 3h</p>
                        <h3>MEALS:</h3>
                        <p>Not included</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Beach attire, swimsuit, cap, sunscreen, water and why not a snack and drinks?</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>30€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Braai.webp" alt="beach landscape by the ocean">
                    <h3>4x4 excursion and Braai on the beach</h3>
                </div>
                <div class="flexbottom">
                    <p>The famous South African Braai (traditional barbecue), after a short 4x4 trip through the dunes to reach the ocean</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>We invite you to an exceptional 4x4 adventure through the dunes, to reach the Indian Ocean. You will discover an incomparably beautiful setting, alone by the ocean, as it is a hard-to-access area. You will have the opportunity to enjoy a delicious traditional BRAAI, prepared by a South African specialist.
                            </p>
                        <h3>DURATION:</h3>
                        <p>Departure 9am, until mid-afternoon</p>
                        <h3>MEALS:</h3>
                        <p>Included, "barbecue" style but don't say that word in front of the locals, here we say "Braai" (pronounced "bry")</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Beach attire, swimsuit, cap, sunscreen, water and why not a snack and drinks?</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>50€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Forest.webp" alt="lush forest photo">
                    <h3>The Bilene Forest</h3>
                </div>
                <div class="flexbottom">
                    <p>A walking excursion, 2h discovering the tropical forest of Bilene</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <h3>DURATION:</h3>
                        <p>2h</p>
                        <h3>MEALS:</h3>
                        <p>Not included</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Exploration attire, be able to walk in water.
                            Mosquito repellent, cap, sunscreen, water</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>20€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Danse.webp" alt="African dancers">
                    <h3>Local Dancing</h3>
                </div>
                <div class="flexbottom">
                    <p>Music and dance are an integral part of Mozambican culture, come and learn during a morning session</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Contact us</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/eglise.webp" alt="a traditional African church">
                    <h3>Traditional church singing</h3>
                </div>
                <div class="flexbottom">
                    <p>African songs resonate from outside, come attend a traditional Mozambican ceremony where songs blend in striking harmonies</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Music and singing are an integral part of Mozambican culture, traditional masses are enhanced with harmonious songs, which are the most natural thing for
                            Mozambicans, but surprising in melody to our Western ears.
                        </p>
                        <h3>DURATION:</h3>
                        <p>2h</p>
                        <p>Often on Sunday late morning</p>
                        <p>Can be organized on weekdays in the late afternoon</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Appropriate attire for a mass, pants or covering dress, shoes (light).
                            Water, it gets quite hot</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>10€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/fishing.webp" alt="deep sea fishermen with a big fish">
                    <h3>Deep sea fishing</h3>
                </div>
                <div class="flexbottom">
                    <p>The Mozambican coasts still escape overfishing, passionate South Africans take you out to sea</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <h3>DURATION:</h3>
                        <p>Half day, departure at dawn, can extend late into the afternoon</p>
                        <h3>MEALS:</h3>
                        <p>Not included</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Deep sea fishing enthusiasts</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>The experience is quite intense, on the ocean outside the lagoon, bring water, sun protection</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>1 person minimum.</p>
                        <h3>Price</h3>
                        <p>On request, rates are high (around 200€ / person)</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Paddletrip.jpg" alt="paddle board on a river">
                    <h3>Paddle trip in nature</h3>
                </div>
                <div class="flexbottom">
                    <p>Through rivers and lagoons to reach the Bilene lagoon</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>A magical journey through the small rivers that flow into the Bilene lagoon</p>
                        <p>Through rivers and lagoons to reach the Bilene lagoon</p>
                        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/bjOC7z6tVtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h3>MEALS:</h3>
                        <p>Not included</p>
                        <h3>PARTICIPANT PROFILE:</h3>
                        <p>Everyone</p>
                        <h3>RECOMMENDATIONS:</h3>
                        <p>Beach attire, swimsuit, cap, sunscreen, water</p>
                        <h3>MINIMUM NUMBER OF PARTICIPANTS:</h3>
                        <p>2 people minimum.</p>
                        <h3>Price</h3>
                        <p>50€ / person</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/autres.webp" alt="lush forest photo">
                    <h3>Others</h3>
                </div>
                <div class="flexbottom">
                    <p>And more</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                    <h3>Snorkeling</h3>
                    <h3>Morning SUP Paddle</h3>
                    <h3>JetSki</h3>
                    <h3>Kayaking</h3>
                    <p>Contact us</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="photomaton">
            <img src="/images/2-excursions/5.webp" alt="">
            <img src="/images/2-excursions/4.webp" alt="">
            <div id="stylematon">
            </div>
            <div id="vignettematon" class="vignette" data-aos="fade-down">
                <h2>How to organize</h2>
                <p>Mozambique is a magnificent country that deserves to be known, and not only for its ideal climate for board sports. We will be happy to organize your entire stay from the moment you leave the airport.</p>
                <a href="/en/information-mozambique"><button>CONTACT US</button></a>
            </div>
            <img id="ntchild3" src="/images/2-excursions/7.webp" alt="">
            <img id="ntchild4" src="/images/2-excursions/12.webp" alt="">
        </section>
    </main>
    <Footer />
</body>
</html>