---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>FAQ Bilene in Mozambique</title>
    <meta name="description" content="Frequently asked questions about Bilene Kite Center in Mozambique">
    <meta name="keywords" content="accommodation, hotel, restaurant, beach-bar, bar, beach, resort, Palmeiras, San Martinho, Sunset, visas, flights, airlines, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, lessons">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/11-Accomodation/Palm_view.jpg" alt="View of the Bilene lagoon">
            <h1 style="text-shadow: 1px 1px 2px black;">FAQ</h1>
            <h2 style="color: #b0cff7; text-shadow: 1px 1px 2px black;">Frequently Asked Questions</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>FAQ</h2>
                    <p>Under construction, please check the <a href="/en/information-mozambique">information page</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/inprogress.webp" alt="Kitesurfer in the air">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>