---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
import '../../css/gallery.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Gallery: Pictures and Videos from Bilene Kite Center</title>
    <meta name="description" content="Our photo and video gallery of Kitesurfing and Wingsurfing in Mozambique">
    <meta name="keywords" content="photo, photos, video, videos, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, lessons, iko, coaching, progression, high-level, olk">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/6-galerie/1.webp" alt="a gallery">
            <h1>Gallery</h1>
            <h2>Better than words</h2>
        </section>
        <section>
            <h2>Few videos</h2>
            <p>The paradisiacal and virgin landscapes of Mozambique are helpful to an infinity of photo and video creations, each more beautiful than the next.
                Here are some of them, which best sum up the atmosphere of the country, the adventure that you will live with us in Bilene,
                but also more generally to discover Mozambique, to meet its kite spots, but not only:
            </p>
        </section>
        <section id="mainsection">
            <div class="flexdiv middle">
                <div class="flextext">
                    <h2>Leo Pariente, in Bilene</h2>
                    <p>Leo is an F-ONE rider, who came twice to train with us and bring back incredible images from our spot. We have made a trilogy of videos, the second of which is dedicated to our spot in Bilene<br>
                        <a href="https://vimeo.com/398790433" target="_blank">The First one</a> / <a href="https://www.youtube.com/watch?v=xHdzCLvOSf0" target="_blank"> The third one</a>
                    </p>
                </div>
                <div class="fleximg">
                    <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/EA8pjVDsoGk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="flexdiv background middle">
                <div class="flextext">
                    <h2>Celine Sauvage: adventurer and kitesurfer</h2>
                    <p>A beautiful and inspiring video, dedicated to the beauty of Mozambique. We will follow her on many kite spots,
                        but also on the tracks of the country, in the nature reserves that she visited, all gathered in a magnificent edit
                    </p>
                </div>
                <div class="fleximg">
                    <div id="containervimeo">
                        <div id="bug"></div>
                        <iframe class="vid" src="https://player.vimeo.com/video/297911471?h=7ffff87d30&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="flexdiv middle">
                <div class="flextext">
                    <h2>Xai Xai</h2>
                    <p>A blockbuster by 3 international riders Paul Serin, Victor Hayes, and Nino Liboni, filmed during their memorable trip to Mozambique, the final scenes footage was made on our spots.</p>
                </div>
                <div class="fleximg">
                    <div>
                        <a href="https://www.youtube.com/watch?v=ZtD4t0RPwwo" target="_blank"><img id="xaixai" src="/images/6-galerie/xaixai.webp" alt="image from the XaiXai movie"></a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Pictures gallery</h2>
            <div class="gallery" id="gallery">
                <div class="gallery-item">
                    <div class="content"><img src="/images/accueil/4.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/accueil/5.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/1.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/2.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/10-people/2.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/10-people/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/10-people/5.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/3.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/5.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/6.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/6 dispo.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/8.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/10.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/11.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/13.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/6.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/1.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/3-school/7.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/11.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/3-school/12.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/2.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/6.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/7.webp" alt="" loading="lazy"></div>
                </div>
            </div>
        </section>
    </main>
    <Footer />
    <script is:inline src="/js/gallery.js"></script>
</body>
</html>