---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Bilene Kite Center - Kitesurfing and Wing in Mozambique</title>
        <meta name="description" content="A pristine kitesurfing and wingsurfing spot in a paradisiacal lagoon in Mozambique, the country with the most beautiful beaches in Africa">
        <meta name="keywords" content="accommodation, hotel, restaurant, kite, kitesurfing, kiteboarding, wing, wingsurfing, Wingfoil, SUP, paddle, Mozambique, Bilene, lessons, trip, travel, trips, downwind, downwinds, speedspot, coaching">
        <Analytics />
        <!-- Facebook -->
        <meta property="og:title" content="Bilene Kite Center in Mozambique" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="A pristine kitesurfing spot in a paradisiacal lagoon in Mozambique, the country with the most beautiful beaches in Africa" />
        <meta property="author" content="Air Tricks Prod" />
        <meta property="og:image" content="https://www.bilenekite.com/images/accueil/1.webp" />
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="https://twitter.com/Guillau69115762">
        <meta name="twitter:title" content="Bilene Kite Center in Mozambique" />
        <meta name="twitter:description" content="A pristine kitesurfing spot in a paradisiacal lagoon in Mozambique, the country with the most beautiful beaches in Africa" />
        <meta name="twitter:image:src" content="https://www.bilenekite.com/images/accueil/1.webp" />
	</head>
	<body>
		<MenuEN />
		<main>
			<p>Welcome to Bilene Kite Center</p>
        <p>from September to March</p>
        <h1>Kitesurfing and Wing in Mozambique</h1>
        <video src="/images/mini.webm" autoplay loop muted poster="/images/1-spot/9.webp">
            Browser incompatible
        </video>
        <p id="intro">Your <em>Kitesurfing and Wingfoil spot in Mozambique</em>, <em>directly on the beach</em> of a magnificent lagoon with clear and shallow waters.</p>
        <div class="flexi">
            <a href="/en/the-kitesurf-spot-in-bilene-mozambique">
                <figure>
                    <img src="/images/accueil/1.webp" alt="kitesurfer in a beautiful landscape" loading="lazy">
                    <figcaption>
                        <h2>The unique, pristine spot</h2>
                        <p>Discover the Bilene spot, its unique, paradisiacal lagoon. Mozambique, a country <em>untouched by mass tourism</em>, its warm welcome.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="/en/the-kite-center-in-bilene-mozambique">
                <figure>
                    <img src="/images/accueil/2.webp" alt="Kite center on the beach" loading="lazy">
                    <figcaption>
                        <h2>The Kite Center</h2>
                        <p>A center dedicated to kiting, equipped with showers, storage, chilling area, a secure spot, lessons, rental of this year's Eleveight equipment, guiding in the lagoon, its speed spots, its downwinds, its wave spot.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="/en/kiteschool-in-bilene-mozambique">
                <figure>
                    <img src="/images/accueil/3.webp" alt="kitesurfing lesson" loading="lazy">
                    <figcaption>
                        <h2>The Kite School</h2>
                        <p>An IKO certified instructor to introduce you to the sport in ideal conditions. Complete equipment of the year. An OLK instructor for freestyle coaching, big air, strapless, waves.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="/en/kite-trips-in-mozambique">
                <figure>
                    <img src="/images/accueil/6.webp" alt="group of people in front of a pristine spot" loading="lazy">
                    <figcaption>
                        <h2>Trips / Kitesafari / KiteTrip</h2>
                        <p>Mozambique is full of magical spots, for all tastes, we take you to discover them.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="/en/video-professional-mozambique">
                <figure>
                    <img src="/images/accueil/4.webp" alt="kitesurfer during a jump" loading="lazy">
                    <figcaption>
                        <h2>Pro Videos</h2>
                        <p>From complete rider editing, with slow motions and drone shots to photos or videos of your sessions, your progression during your stay. BKC is a partner of Air Tricks Prod, specialist in kite videos.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="/en/information-mozambique">
                <figure>
                    <img src="/images/accueil/5.webp" alt="team of riders looking at a beautiful landscape" loading="lazy">
                    <figcaption>
                        <h2>Additional info, accommodation, flights</h2>
                        <p>How to join us, Visas, flights, airport transfers, accommodation, we take care of everything from when you leave the airport.</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div id="feednpart">
            <div id="tripadvisor">
                <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g1597322-d15360648-Reviews-Bilene_Kite_Center-Bilene_Gaza_Province.html">
                    <img src="/images/accueil/TripAdv.webp" alt="screenshot of TripAdvisor site">
                </a>
            </div>
			<div id="partenaires">
                <h2>BKC Partners</h2>
                <p>They are with us!</p>
                <div id="partnairesListe">
                    <a href="https://kitesurf.voyages-adekua.fr/sejour-kitesurf/mozambique/bilene" target="_blank">
                        <img src="/images/accueil/partners/Adekua.webp" alt="Adekua logo"/>
                    </a>
                    <a href="https://www.manawa.com">
                        <img src="/images/accueil/partners/Adrenaline.webp" alt="Adrenaline logo"/>
                    </a>
                    <a href="https://fto110.wixsite.com/air-tricks">
                        <img src="/images/accueil/partners/airtricks.webp" alt="airtricks logo"/>
                    </a>
                    <a href="https://www.atibavoyage.com/">
                        <img src="/images/accueil/partners/Atiba.webp" alt="Atiba logo"/>
                    </a>
                    <a href="https://www.eleveightkites.com/">
                        <img src="/images/accueil/partners/E8.png" alt="Eleveight logo"/>
                    </a>
                    <a href="https://www.voyages-gallia.fr/">
                        <img src="/images/accueil/partners/galia.webp" alt="Galia logo"/>
                    </a>
                    <a href="https://www.kitexperience.com/les-destinations-pour-le-kitesurf/kitesurf-au-mozambique/sejour-kite-a-bilene/">
                        <img src="/images/accueil/partners/kitexperience.webp" alt="kitexperience logo"/>
                    </a>
                    <a href="https://www.onelaunchkiteboarding.com/">
                        <img src="/images/accueil/partners/olk.webp" alt="OLK Logo"/>
                    </a>
                    <a href="https://sonofkite.com">
                        <img src="/images/accueil/partners/sonof.webp" alt="Son Of Kite Logo"/>
                    </a>
                    <a href="https://tribbuu.com/">
                        <img src="/images/accueil/partners/Tribbu.webp" alt="Tribbu Logo"/>
                    </a>
                    <a href="https://www.tripadvisor.com/">
                        <img src="/images/accueil/partners/tripadvisor.webp" alt="Tripadvisor Logo"/>
                    </a>
                    <a href="https://www.tripaneer.com/">
                        <img src="/images/accueil/partners/tripaneer.webp" alt="Tripaneer Logo"/>
                    </a>
                    <a href="https://www.waterexpeditions.com/">
                        <img src="/images/accueil/partners/water-expeditions-logo.webp" alt="Water Expedition Logo"/>
                    </a>
                    <a href="https://www.kayak.com.br/"><img src="/images/accueil/partners/kayak.png" alt="Kayak Group logo">
                    </a>
                    <a href="https://www.decathlontravel.com/voyages/sport-kitesurf/voyage-stage-kitesurf-au-mozambique-2-personnes/ZUZKEU">
                        <img src="/images/accueil/partners/decathTravel.png" alt="Decathlon Travel Logo">
                    </a>
                    <a href="https://fun-and-fly.com/spot/bilene/">
                        <img src="/images/accueil/partners/fun-and-fly-sport-away-logo.webp" alt="Fun-and-fly Logo">
                    </a>
                    <a href="https://kitelab.info/fr/">
                        <img src="/images/accueil/partners/kitelab-logo.webp" alt="Kitelab Logo">
                    </a>
                </div>
            </div>
        </div>
		<div id="whoweare" class="flexi">
            <figure>
                <img src="/images/accueil/7.webp" alt="welcoming team of riders" loading="lazy">
                <figcaption>
                    <h2>Who are we?</h2>
                    <p>Teresa, Pereira, Guillaume, 3 passionate individuals who wanted to share their passion for <em>board sports</em> around the world and especially in <em>Mozambique</em>. <br>
                    <a href="https://youtu.be/XeEac9lFaYk" target="_blank">Watch the video of our discovery trip</a>.</p>
                </figcaption>
            </figure>
        </div>
		</main>
		<Footer />
	</body>
</html>