---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>The kiteschool in Bilene, Mozambique</title>
    <meta name="description" content="Your kiteschool on a perfect spot in Bilene, Mozambique. Safe and fun.">
    <meta name="keywords" content="kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, center, KiteCenter, coaching, progression, lessons, freestyle, foil, strapless">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/3-school/1.webp" alt="Kite center on the beach">
            <h1>KiteSchool in Bilene, Mozambique</h1>
            <h2>Professional, secured, fun and easy</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Kite School</h2>
                    <p>
                        Ideally located on the lagoon, with regular side-on winds, the school benefits from ideal conditions to learn kiteboarding.
                        With more than 8 years of experience teaching kitesurfing as an IKO instructor, we offer a complete pedagogy around its standards.
                        They guarantee safe learning in the best conditions for students.
                        We are equipped with radio to allow you to stay in constant contact with your instructor.
                        <a href="/en/the-kitesurf-spot-in-bilene-mozambique">More info about the spot</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/3.webp" alt="students and instructor in front of a board">
                    <img src="/images/3-school/2.webp" alt="students and instructors in the water">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Beginners - Discovery</h2>
                    <p>Discover the equipment, safety systems, take-off and landing, complete static wing control in less than 1m of water.
                        Then we will practice body dragging, kite relaunch, first waterstarts and first edges in the lagoon.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/5.webp" alt="young student and instructor on the beach">
                    <img src="/images/3-school/6.webp" alt="Students and instructors">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Intermediaries</h2>
                    <p>Equipped with radio, improve your position, speed control, downwind and upwind. Then will come the first transitions and jibes to never stop when changing direction.
                        Depending on your wishes, we can deepen your knowledge of safety, weather, knowledge of natural and technical elements to strengthen your autonomy in navigation.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/7.webp" alt="Group of students in the shade of the kite center">
                    <img src="/images/3-school/8.webp" alt="kitesurfer on the water">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Supervised riding</h2>
                    <p>From a certain level, your progress will go through intense practice in supervised semi-autonomy from the beach, with or without radio.
                        Your instructor will never be far away for your safety and some good advice, without spending more than you need to enjoy kiting.
                        </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/9.webp" alt="kitesurfer on the water">
                    <img src="/images/3-school/85.webp" alt="Kitesurfer on flat water">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Advanced: Coaching</h2>
                    <p>For any independent rider who wants to progress:
                        Jumps, figures, transitions, knowledge and advanced settings of your equipment, in Twintip (classic boards), Strapless (surfboard) or foil, kitesurfing has the advantage of a multitude of types of practice, adapted to the conditions or motivations of each.
                        We will use video analysis, radios on the water, you will be supervised by an OLK certified instructor.
                        OLK, the largest French network of schools abroad: <a href="https://www.onelaunchkiteboarding.com/">More info on OLK</a>.
                        OLK provides free instructional videos to help you continue learning from home.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/11.webp" alt="kitesurfer during a grabbed jump">
                    <img src="/images/3-school/10.webp" alt="kitesurfer on the water">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Coaching course</h2>
                    <p>Lasting one week on average, adaptable according to your desires (we do not forget that you are also on vacation), we offer a complete kite training course.
                        From the most advanced adjustments to the most "stylish" tricks, through learning the tiniest sensations with your kite that make all the difference,
                        this course is aimed at enthusiasts who wish to increase their level on water: Video briefings, multiple sessions filmed on the water,
                        video debriefing and daily improvement of your style on the water.
                        </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/12.webp" alt="group of people on the beach">
                    <img src="/images/3-school/13.webp" alt="Kitesurfer during a jump">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Equipment: Eleveight</h2>
                    <p>Bilene Kite Center is a partner of Eleveight, the rising kite brand, created by enthusiasts riders, for enthusiasts riders.
                        Our center offers a complete range of new vintage kites, bars and boards, renewed every year. In 2022, the wing is entering into our quiver.
                        <a href="https://www.eleveightkites.com">More information about Eleveight</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/8.webp" alt="lagoon landscape">
                    <img src="/images/2-center/9.webp" alt="kiter seen from drone">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>