---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Kite trips in Mozambique</title>
    <meta name="description" content="Presentation of the Kitesurf and Wingsurf trips that we offer in Mozambique">
    <meta name="keywords" content="trip, trips, photo, photos, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, kitetrip, kitesafari, lessons">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/4-trips/1.webp" alt="Beach landscape seen from drone">
            <h1>Kite Trips in Mozambique</h1>
            <h2 style="color: #b0cff7;">More than 2500 km coast and spots</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Travel, the essence of kiteboarding</h2>
                    <p>
                        Mozambique is known as <a href="https://www.easyvoyage.com/actualite/voyage-au-mozambique-sur-les-plus-belles-plages-d-afrique-62902">the country with the most beautiful African beaches</a>.
                        An endless reservoir of spots, virgin, most of them yet not discovered.
                        Kitesurfing is one of those bewitching, exciting sports, conducive to travel and discovery.
                        We offer to take you with us.
                        For day trips, over a few days, or more:
                    </p>
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/398790433?h=1d489d97f7&autoplay=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/3.webp" alt="travelers in front of a car">
                    <img src="/images/4-trips/2.webp" alt="Landscape seen from drone">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Day kite trip</h2>
                    <p>Less than 1 hour from Bilene, through the African tracks, we will cross typical local villages, greeted by the adorable local inhabitants,
                        to end up on a piece of art of the most flat spot that we have been given the opportunity to ride.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/4.webp" alt="sunset seen from car">
                    <img src="/images/4-trips/5.webp" alt="beach and ocean seen from drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>A few days kite trip</h2>
                    <p>
                        Depending on the weather, we leave for one or more destinations such as Tofo, Inharime, Zavora, Inhambane...
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/7.webp" alt="travelers in front of a car">
                    <img src="/images/4-trips/6.webp" alt="Landscape seen from drone">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Weekly kite trip</h2>
                    <p>Depending on the weather, we will cover a few spots of the "a few days" trip but will push our exploration further to Vilanculo, or our famous "secret spot", a nugget of virgin lagoon in the middle of nowhere (digital detox is offered, since you won't have a choice).
                        We will stay in a "chalet house" whose owner, who built it for him, gives us access.
                        We will be at the very heart of the spot: <a href="/en/services-prices-bilene-kitesurf-mozambique#prixtrips">The video "that hurts the eyes".</a>
                        </p>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/8.webp" alt="lagoon landscape seen from drone">
                    <img src="/images/4-trips/9.webp" alt="beach and ocean with car and equipment">
                </div>
            </div>
        </section>
    </main>
    <Footer />
    <script is:inline src="https://player.vimeo.com/api/player.js"></script>
</body>
</html>