---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Prepare your trip to Bilene, Mozambique</title>
    <meta name="description" content="To prepare your kitesurf or wingfoil trip to Bilene in Mozambique">
    <meta name="keywords" content="accommodation, hotel, restaurant, beach-bar, bar, beach, resort, Palmeiras, San Martinho, Sunset, organization, what to bring, your belongings, procedures">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/11-Accomodation/Palm_view.jpg" alt="View of the Bilene lagoon">
            <h1 style="text-shadow: 1px 1px 2px black;">Preparing your trip</h1>
            <h2 style="color: #b0cff7; text-shadow: 1px 1px 2px black;">We take care of everything, follow the guide</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Before you leave</h2>
                    <p>Under construction, please check the <a href="/en/information-mozambique">information page</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/11-Accomodation/Palm_house.jpg" alt="House interior in nature">
                    <img src="/images/11-Accomodation/Palm_Bung.jpg" alt="bungalow in the forest">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Arrival at the airport</h2>
                    <p>Under construction, please check the <a href="/en/information-mozambique">information page</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/10-maputoreserve/1-E.jpg" alt="elephant in natural landscape">
                    <img src="/images/10-maputoreserve/4-G-traverse.jpg" alt="giraffe crossing the road in front of the car">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>The taxi transfer</h2>
                    <p>Under construction, please check the <a href="/en/information-mozambique">information page</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/Eswatini1.jpg" alt="restaurant terrace">
                    <img src="/images/9-Safari/eswa2.jpg" alt="restaurant terrace">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>What to bring with you</h2>
                    <p>Under construction, please check the <a href="/en/information-mozambique">information page</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/Eleph.jpg" alt="family of elephants in nature">
                    <img src="/images/9-Safari/girafe.jpg" alt="close-up photo of a giraffe">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>