---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Restaurants and dining in Bilene, Mozambique</title>
    <meta name="description" content="Restaurants and dining options in Bilene, Mozambique">
    <meta name="keywords" content="accommodation, hotel, restaurant, beach-bar, bar, beach, resort, Palmeiras, San Martinho, Sunset">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/11-Accomodation/Palm_view.jpg" alt="View of the Bilene lagoon">
            <h1 style="text-shadow: 1px 1px 2px black;">Restaurants and dining in Bilene</h1>
            <h2 style="color: #b0cff7; text-shadow: 1px 1px 2px black;">Good times in the evening</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Under construction</h2>
                    <p>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/inprogress.webp" alt="kitesurfer in the air">
                    <img src="/images/11-Accomodation/Palm_Bung.jpg" alt="bungalow in the forest">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>