---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Safaris, Kruger Park and Natural Reserves in Mozambique</title>
    <meta name="description" content="Safaris at Kruger Park that we organize for you at Bilene Kite Center in Mozambique">
    <meta name="keywords" content="safari, safaris, kruger, maputo, maputo reserve, Kruger Park, krugerpark, maputoreserve, tour operator">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/9-Safari/shutterstock_480338395_1.jpg" alt="Safari photo in Africa">
            <h1 style="text-shadow: 1px 1px 2px black;">Natural Reserves</h1>
            <h2 style="color: #b0cff7; text-shadow: 1px 1px 2px black;">The famous Kruger Park is just around the corner.</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Kruger Park</h2>
                    <p>Discover the extraordinary richness of wildlife during the visit to Kruger Park offered by our small local Tour Operator.
                        One of the largest wildlife reserves in Africa. The big five could almost be guaranteed!
                        Immerse yourself in breathtaking landscapes, where lions, elephants,
                        leopards, buffaloes, giraffes and rhinoceros roam freely in their natural habitat. Accompanied by expert guides, you will explore roads
                        and secret trails, enjoying a stunning view of wild life scenes. The visit can be done in one day or several.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/20221031_162123.jpg" alt="safari landscape in Africa">
                    <img src="/images/9-Safari/428629023_10232894610696897_4990606952117945171_n.jpg" alt="Lions lying by the road">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Maputo Elephant Reserve</h2>
                    <p>Embark on a unique safari in the Maputo Elephant Reserve and go to meet these majestic animals
                        that populate this wild reserve.
                        Explore this preserved conservation area in 4x4 and observe these fascinating animals evolving in their natural habitat.
                        You will also have the opportunity to discover a rich and varied fauna and flora, including
                        giraffes, zebras, hippos, impalas, warthogs, as well as a multitude of birds.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/10-maputoreserve/1-E.jpg" alt="elephant in natural landscape">
                    <img src="/images/10-maputoreserve/4-G-traverse.jpg" alt="giraffe crossing the road in front of the car">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Eswatini Combo</h2>
                    <p>Our small local tour operator also offers the "Eswatini & Kruger" combo which starts in Maputo and offers an experience similar to multi-day
                        Kruger packages, but with an added passage through the fascinating Kingdom of eSwatini. In one hour, we go from wild nature
                        to colorful eSwatini, a former monarchy known as Swaziland. This small valley between mountains harbors a unique and vibrant culture.
                        We will visit the Mantenga cultural village, where a lively Swazi dance with drums will resonate long
                        within you. We enjoy a peaceful moment at Mantenga Falls, followed by lunch at the historic Malandela estate and a visit to the
                        House on Fire, symbol of eSwatini's growing identity. The visit ends at the famous candle factory, which has become a center
                        for crafts and arts.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/Eswatini1.jpg" alt="restaurant terrace">
                    <img src="/images/9-Safari/eswa2.jpg" alt="restaurant terrace">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Our advice</h2>
                    <p>Possible over several days, we take care of everything: Tour Operator bookings, transfers, your hotel in Maputo. We recommend
                        your safari preferably at the beginning or end of your stay to limit back-and-forth trips. Kruger seems the most fantastic to us, the Maputo reserve is more intimate,
                        the Eswatini combo if you want to discover another culture before diving into the Kruger Park nature reserve.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/Eleph.jpg" alt="family of elephants in nature">
                    <img src="/images/9-Safari/girafe.jpg" alt="close-up photo of a giraffe">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>