---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>The kite Center in Bilene, Mozambique</title>
    <meta name="description" content="Presentation and details about the magical spot for kitesurf, wingsurf, paddle, in Bilene, Mozambique">
    <meta name="keywords" content="photo, photos, video, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, coaching, progression, one Launch kiteboarding, lessons">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/2-center/1.webp" alt="Kite center on the beach">
            <h1>The Kite Center</h1>
            <h2 style="color: #b0cff7;">Everything for your passion</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Bilene Kite Center</h2>
                    <p>The center is based on Bilene beach. Equipped with a Storage, shower, rinsing area, drying area, chilling area, adjacent to the Beach-bar of the Palmeiras hotel complex. The center is located directly on the spot, in a clear and shallow lagoon, with direct access to the Indian Ocean.
                        It is served directly by road and benefits from all the comforts of Palmeiras.
                        <a href="/en/the-kitesurf-spot-in-bilene-mozambique">Spot Description</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/2.webp" alt="lagoon landscape">
                    <img src="/images/2-center/3.webp" alt="kiter seen from drone">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>An idyllic setting for kite and wing</h2>
                    <p>Come and discover the perfect spot, in a new heavenly destination, with an amazing natural typical African landscape, far from the crowded spots.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/4.webp" alt="lagoon landscape">
                    <img src="/images/2-center/5.webp" alt="kiter seen from drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Chilling, bar, restaurant</h2>
                    <p>The center is located on the Palmeiras beach, you will enjoy all its facilities between 2 sessions: Restaurant and Beach Bar with a direct view of the riders, equipped bungalows,
                        holiday homes, camping, shop, wifi, welcoming and smiling team, the Palmeiras is one of the very first establishments of the lagoon.
                        <a href="https://www.tripadvisor.com/Restaurant_Review-g1597322-d4421850-Reviews-Complexo_Palmeiras-Bilene_Gaza_Province.html">More info: The Palmeiras</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/6.webp" alt="restaurant terrace">
                    <img src="/images/2-center/7.webp" alt="restaurant terrace">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Kite equipment Eleveight</h2>
                    <p>Bilene Kite Center is a partner of Eleveight, the rising kite brand, created by enthusiasts riders, for enthusiasts riders.
                        Our center offers a complete range of new vintage kites, bars and boards, renewed every year. In 2022, the wing is entering into our quiver.
                        <a href="https://www.eleveightkites.com">More information about Eleveight</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/8.webp" alt="lagoon landscape">
                    <img src="/images/2-center/9.webp" alt="kiter seen from drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Guiding, speedspots, downwinds, trips</h2>
                    <p>There are many flat areas with perfectly flat water on the lagoon, accessible directly from the center or in a few minutes by 4x4.
                        In boat drop-off with coolers and sandwiches so as not to lose a drop of session on the water.
                        The gigantic lagoon is ideal for long kite rides in a magnificent setting of tropical Africa. We will end our journey in the best seafood restaurant in the lagoon.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/10.webp" alt="Speed spot view">
                    <img src="/images/2-center/11.webp" alt="Speed spot drone view">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>SUP Paddle</h2>
                    <p>The center offers a whole range of SUPs to explore the lagoon. Perfect playground in the early morning before the wind sets in for the rest of the day.
                        Lessons, rentals, or trips organized with our instructor in this incredible African landscape.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/12.webp" alt="paddle seen from drone">
                    <img src="/images/2-center/13.webp" alt="sup paddle seen from drone">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>