---
import MenuEN from '../../components/MenuEN.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>The kitesurf Spot in Bilene, Mozambique</title>
    <meta name="description" content="Spot details for kitesurfing and wingsurfing in Bilene Mozambique">
    <meta name="keywords" content="details, spot, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, coaching, progression, flat, speedspot, olk, one Launch kiteboarding, lessons">
    <Analytics />
</head>
<body>
    <MenuEN />

    <main>
        <section id="headsection">
            <img src="/images/1-spot/1.webp" alt="Sunny lagoon landscape">
            <h1>THE SPOT</h1>
            <h2>Bilene, in Mozambique</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>A unique riding area</h2>
                    <p>
                        A perfect <em>turquoise lagoon</em>, stable wind, warm water, 1m depth 1 km square area, perfect to learn, near unique in the world.
                        And 15 km playground for downwinders, various speed spots, direct wave spot access.
                        The Bilene lagoon is a near unbelievable spot to enjoy our passion in total safety.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/1-spot/2.webp" alt="lagoon landscape">
                    <img src="/images/1-spot/3.webp" alt="">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>To Discover Kiteboarding and progress</h2>
                    <p>Our learning area hasn't any currents or tides, the wind is stable and with the warm shallow water, You will maximise your lesson in these perfect conditions.
                        Our learning philosophy is based on IKO Standards, on a perfect secure Spot, with adapted learning equipment, good security and communication measures. The wind blows every day, from 15 to 25 knots (ideal speed range to learn).
                        Kitesurfing is a passion to enjoy, therefore we have perfect safety equipment, including radios, helmet and life jacket for all our students.
                        </p>
                    <p>More information: <a href="/en/kiteschool-in-bilene-mozambique">Kite School</a>.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/1-spot/4.webp" alt="kitesurf lesson">
                    <img src="/images/1-spot/5.webp" alt="kitesurf foil seen from drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Experienced riders</h2>
                    <p>A one-of-a-kind playground, virgin, with stable wind, warm waters, many flat spots, downwinders in a magnificent sight.
                        An OLK coach to guide you in the spots, possibilities of <a href="/en/video-professional-mozambique">pro videos</a>, all with a kite centre directly on the beach.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/1-spot/6.webp" alt="kitesurf jump man">
                    <img src="/images/1-spot/7.webp" alt="kitesurf jump woman">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>The Speed Spot</h2>
                    <p>Accessible directly by kite in 20 min or by boat, the mouth of the lagoon is a perfect spot, as glassy as you can wish, Victor Hayes said "it's like our freestyle spot in Brazil,
                        with the difference that there is no one".
                        In a breathtaking, preserved natural landscape, a gigantic strip of sand with the perfectly flat spot on one side, the ocean on the other.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/1-spot/8.webp" alt="kiter on the water with group in foreground">
                    <img src="/images/1-spot/9.webp" alt="riders on coastal landscape seen from drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext longtext">
                    <h2>Bilene</h2>
                    <p>Bilene is a 15 km lagoon, open to the Indian Ocean. Protected from waves and tides, its white sand beaches, crystal clear water and shallow areas are known for
                        child safety and water sports.
                        Its calm waters and steady wind have made it a favourite destination for the few tourists who visit the area.
                        It has several hotel complexes well integrated into the preserved natural landscape of the region.
                        Early in the morning, you can see the local fishermen in their traditional boats loaded with fish and seafood available the same day in the small local market, as well as tropical fruits and fresh vegetables, you will rediscover the taste of mango!
                        The village has several typical local restaurants, the Baracas, we will make you discover the great specialties such as the 2M, the frango com battata, the piri piri, the matapa.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/1-spot/10.webp" alt="beach landscape seen from drone">
                    <img src="/images/1-spot/11.webp" alt="Bilene market">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext longtext">
                    <h2>Mozambique</h2>
                    <p>
                        Located in front of Madagascar, on the edge of the Indian Ocean, between South Africa and Tanzania, Mozambique has nearly 3,000 km of coastline. Virgin of mass tourism, these beaches are often considered "the most beautiful in the world".
                        Its inhabitants are charming and welcoming, the country is peaceful to the point that families with small children visit it by car like <a href="https://ubuntu-overland.com/" target="_blank">ubuntu-overland</a>.
                        The country is full of natural wonders, also inland, with several reserves such as Gorongosa Park, Kruger Park, or Zinave National Park.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/1-spot/12.webp" alt="portrait of 2 Mozambican women">
                    <img src="/images/1-spot/13.webp" alt="beach landscape seen from drone">
                </div>
            </div>
            <section class="flexdiv">
                <div class="flextext">
                    <h2>When to join us</h2>
                    <p>We are open from September to March with an average of 90% of days sailed. The rest of the year, these stats drop to an "unfortunate" 60%.</p>
                </div>
                <div class="">
                    <img id="imgmeteo" src="/images/1-spot/forcast.webp" alt="weather forecast for best months">
                </div>
            </section>
        </section>
    </main>
    <Footer />
</body>
</html>