---
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import '../sass/general.scss';
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilene Kite Center - Page secrète</title>
    <meta name="description" content="Une page secrète sur un site au sujet d'une lagune paradisiaque au Mozambique, le pays au plus belles plages d'Afrique">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <Menu />

    <main>
        <h1>Page Secrète de Bilene Kite Center</h1>
        <h2>Des feedbacks pour nous ?</h2>
        <img id="mora" src="/images/Mora.webp" alt="Chien beau regard au bureau">
        <p>Voici les liens vers les principaux sites. Merci beaucoup !</p>
        <div class="flexi secret">
            <a href="https://web.facebook.com/profile.php?id=100063467443392&sk=reviews" target="_blank">
                <h3>Facebook</h3>
            </a>
            <a href="https://goo.gl/maps/A62MgLGRcDkCiz4Z7" target="_blank">
                <h3>Google (et Google Maps)</h3>
            </a>
            <a href="https://www.tripadvisor.com/Attraction_Review-g1597322-d15360648-Reviews-Bilene_Kite_Center-Bilene_Gaza_Province.html" target="_blank">
                <h3>TripAdvisor</h3>
            </a>
            <a href="https://philippeancelin.typeform.com/to/TWdz0m?fbclid=IwAR0Y7o-5Z-1IkbCqF0_W4rxDfmnzGg5ArR85ED-s4C5nPpmM86YYsGro6ZA" target="_blank">
                <h3>OLK : One Launch Kiteboarding</h3>
            </a>
        </div>
    </main>

    <Footer />
</body>
</html>
