<header>
        <a href="/en/"><img src="/images/logomini.webp" alt="logo Bilene Kite Center" loading="lazy"></a>
        <div id="lang">
            <p>language: <a href="/">FR</a> / EN / <a href="/es/">ES</a></p>
        </div>
        <nav id="mySidenav" class="sidenav">
            <a id="closeBtn" href="#" class="close">&times;</a>
            <ul class="menu-list">
                <li><a href="/en/">Home</a></li>
                <li>
                    <a href="#">+ Kitesurfing/Wing</a>
                    <ul class="sub-menu">
                        <li><a href="/en/the-kitesurf-spot-in-bilene-mozambique">The Spot</a></li>
                        <li><a href="/en/the-kite-center-in-bilene-mozambique">The Kite Center</a></li>
                        <li><a href="/en/kiteschool-in-bilene-mozambique">Kite School</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">+ Bilene Guide</a>
                    <ul class="sub-menu">
                        <li><a href="/en/activities-in-bilene-outings-visits-exploration">Activities</a></li>
                        <li><a href="/en/lodging-in-bilene-mozambique">Accommodation</a></li>
                        <li><a href="/en/restaurants-and-dining-in-bilene-mozambique">Restaurants / Outings</a></li>
                        <li><a href="/en/safaris-kruger-park-natural-reserves-mozambique">Safari</a></li>
                        <li><a href="/en/prepare-your-trip-to-bilene-mozambique">Preparing Your Trip</a></li>
                        <li><a href="/en/faq-bilene-mozambique">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/en/kite-trips-in-mozambique">Kite Trips</a></li>
                <li><a href="/en/information-mozambique">Info / Contact</a></li>
                <li><a href="/en/services-prices-bilene-kitesurf-mozambique">Prices</a></li>
                <li><a href="/en/gallery-pictures-videos-bilene-kite-mozambique">Gallery</a></li>
                <li><a href="/en/video-professional-mozambique">Your Videos</a></li>
                <li><a href="/en/blog">Blog</a></li>
            </ul>
        </nav>
        <a href="#" id="openBtn">
        <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
        </a>
    </header>