<header>
        <a href="/es/"><img src="/images/logomini.webp" alt="logo Bilene Kite Center" loading="lazy"></a>
        <div id="lang">
            <p>language: <a href="/">FR</a> / <a href="/en/">EN</a> / ES</p>
        </div>
        <nav id="mySidenav" class="sidenav">
            <a id="closeBtn" href="#" class="close">&times;</a>
            <ul class="menu-list">
                <li><a href="/es/">Bienvenida</a></li>
                <li>
                    <a href="#">+ Kitesurf/Wing</a>
                    <ul class="sub-menu">
                        <li><a href="/es/el-spot-de-kitesurf-en-bilene-mozambique">El Spot</a></li>
                        <li><a href="/es/centro-de-kite-in-bilene-mozambique">El Centro</a></li>
                        <li><a href="/es/escuela-de-kitesurf-en-bilene-mozambique">La Escuela</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">+ Guía de Bilene</a>
                    <ul class="sub-menu">
                        <li><a href="/es/actividades-en-bilene-excursiones-visitas-exploracion">Actividades</a></li>
                        <li><a href="/es/alojamiento-en-bilene-mozambique">Alojamiento</a></li>
                        <li><a href="/es/restaurantes-y-salidas-en-bilene-mozambique">Restaurantes / Salidas</a></li>
                        <li><a href="/es/safaris-kruger-reservas-naturales-mozambique">Safari</a></li>
                        <li><a href="/es/preparar-tu-viaje-a-bilene-mozambique">Preparar tu viaje</a></li>
                        <li><a href="/es/faq-bilene-mozambique">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/es/kite-trip-en-mozambique">Trips Kite</a></li>
                <li><a href="/es/informaciones-mozambique">Infos / Contacto</a></li>
                <li><a href="/es/services-precios-bilene-kitesurf-mozambique">Precios</a></li>
                <li><a href="/es/galeria-photos-video-bilene-kite-mozambique">Galería</a></li>
                <li><a href="/es/video-professionale-mozambique">Tus vídeos</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <a href="#" id="openBtn">
        <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
        </a>
    </header>