---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <Analytics />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Bilene, Actividades, excursiones, visitas en Mozambique</title>
    <meta name="description" content="En Bilene, actividades, visitas, safaris, excursiones y visita de Maputo, en Mozambique">
    <meta name="keywords" content="actividades, excursiones, visitas, descubrimiento, alojamiento, hotel, restaurante, kite, kitesurf, wing, Wingfoil, SUP, paddle, Mozambique, Bilene, viajes">
</head>
<body>
    <MenuES />

    <main>
        <section id="intro-acti">
            <div id="backgroundimgexcu" class="backgroundimg">
                <div id="vignette1" class="vignette" data-aos="fade-right">
                </div>
                <div id="vignette2" class="vignette" data-aos="fade-down">
                    <h3>Entre las sesiones en el agua</h3>
                    <h1>Las actividades en Bilene</h1>
                    <p>Te proponemos numerosas actividades en y alrededor de Bilene, descubrimiento de la fauna local,
                        de paisajes magníficos, pero también de sus habitantes, sus tradiciones, costumbres, cantos y especialidades culinarias</p>
                </div>
            </div>
        </section>
        <section id="secflex">
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/limpo2.webp" alt="vista de paisaje oceánico">
                    <h3>El faro de Limpopo</h3>
                </div>
                <div class="flexbottom">
                    <p>(Trip Kite Posible) Una excursión en 4x4 a una hora de Bilene por las pistas típicas de África, para descubrir un faro y paisajes magníficos</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Lejos de las ciudades y de los lugares turísticos típicos del sur de Mozambique, conducimos en 4x4 por hermosas carreteras rurales y pequeños pueblos hasta descubrir este faro particular. Situado en medio de un verdadero paraíso tropical, es el segundo faro más alto de África.</p>
                        <h3>DURACIÓN: </h3>
                        <p>Salida a las 10h. Regreso después del almuerzo, hacia las 16h-17h.</p>
                        <h3>COMIDAS: </h3>
                        <p>Almuerzo incluido</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Calzado y ropa cómoda, bañador, gorra, protección solar, repelente de mosquitos.</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>60€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Macia.webp" alt="un mercado local mozambiqueño">
                    <h3>El pueblo de Macia</h3>
                </div>
                <div class="flexbottom">
                    <p>A 30 min de Bilene, el pequeño pueblo de Macia, su mercado de frutas, sus tiendas, su fábrica de anacardos</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Este pueblo, situado a 30 km de Bilene, es una pequeña ciudad típica de Mozambique. Paseando por sus calles y su mercado, podrás descubrir por ti mismo cómo es la vida cotidiana de sus habitantes y dónde hacen sus compras. Si tienes en mente un zoco típicamente africano, este está bastante lejos, Macia no es una ciudad turística, sus habitantes son muy simpáticos y tranquilos, y podrás pasear serenamente entre los diferentes puestos de frutas o artesanía con nuestro guía.</p>
                        <h3>DURACIÓN: </h3>
                        <p>Salida a las 09h30. Regreso hacia las 13h00.</p>
                        <h3>COMIDAS: </h3>
                        <p>No incluidas</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Calzado y ropa cómoda, bañador, gorra, protección solar, repelente de mosquitos.</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>10€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Traditionnal.webp" alt="Mujeres africanas cocinando de forma tradicional">
                    <h3>Cocina y vida tradicional</h3>
                </div>
                <div class="flexbottom">
                    <p>Los habitantes de Bilene te reciben en sus casas, para hacerte descubrir su modo de vida, y también para iniciarte en la cocina de platos típicos de la región</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Los mozambiqueños forman una sociedad increíblemente acogedora y cálida. Con la ayuda de Félix, nuestro guía, te invitamos a descubrir la vida en Bilene, a sumergirte en su día a día, a explorar sus costumbres, y a aprender a cocinar su plato tradicional más delicioso, la "Matapa". ¡Quedarás encantado con esta aventura inolvidable en el corazón de la cultura mozambiqueña!</p>
                        <h3>DURACIÓN: </h3>
                        <p>Salida a las 09h30. Regreso hacia las 13h00.</p>
                        <h3>COMIDAS: </h3>
                        <p>Almuerzo tradicional</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos, caminata de algunos kilómetros prevista</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Calzado y ropa cómoda, gorra, protección solar, agua para el camino</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>10€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/annick.webp" alt="barco en el agua visto de drone">
                    <h3>El océano, las tortugas</h3>
                </div>
                <div class="flexbottom">
                    <p>Y ballenas en alta mar (según la temporada). Excursión en barco hacia el océano, el hábitat de una familia de tortugas.</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Te llevamos en barco a la desembocadura de la laguna, en un paisaje impresionante, podrás caminar a lo largo del océano, bañarte, y luego subir un pequeño acantilado (menos de 100m) para contemplar una familia de tortugas marinas que reside en ese lugar.
                            Entre septiembre y noviembre, las ballenas recorren la costa de Mozambique durante su migración, podrás verlas a lo lejos, majestuosas.
                            </p>
                        <h3>DURACIÓN:</h3>
                        <p>A tu conveniencia, hasta 3h</p>
                        <h3>COMIDAS: </h3>
                        <p>No incluidas</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Ropa de playa, bañador, gorra, protección solar, agua y ¿por qué no un snack y bebidas?</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>30€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Braai.webp" alt="paisaje de playa al borde del océano">
                    <h3>Excursión en 4x4 y Braai en la playa</h3>
                </div>
                <div class="flexbottom">
                    <p>El famoso Braai sudafricano (barbacoa tradicional), después de un pequeño trip en 4x4 por las dunas para llegar al océano</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Te invitamos a una aventura excepcional en 4x4 a través de las dunas, para alcanzar el Océano Índico. Descubrirás un entorno de belleza incomparable solos al borde del océano, ya que se trata de una zona de difícil acceso. Tendrás la oportunidad de saborear un delicioso BRAAI tradicional, preparado por un especialista sudafricano.
                            </p>
                        <h3>DURACIÓN:</h3>
                        <p>Salida a las 9h, hasta media tarde</p>
                        <h3>COMIDAS: </h3>
                        <p>Incluidas, tipo "barbacoa" pero no pronuncies esa palabra delante de los locales, aquí se dice "Braai" (pronunciar "braïe")</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Ropa de playa, bañador, gorra, protección solar, agua y ¿por qué no un snack y bebidas?</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>50€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Forest.webp" alt="foto de bosque exuberante">
                    <h3>El bosque de Bilene</h3>
                </div>
                <div class="flexbottom">
                    <p>Una excursión a pie, 2h para descubrir el bosque tropical de Bilene</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <h3>DURACIÓN:</h3>
                        <p>2h</p>
                        <h3>COMIDAS: </h3>
                        <p>No incluidas</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Ropa de exploración, poder caminar en el agua.
                            Repelente de mosquitos, gorra, protección solar, agua</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>20€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Danse.webp" alt="bailarinas africanas">
                    <h3>Baile local</h3>
                </div>
                <div class="flexbottom">
                    <p>La música y el baile son parte integral de la cultura mozambiqueña, ven a iniciarte durante una mañana</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Consúltanos</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/eglise.webp" alt="una iglesia tradicional de África">
                    <h3>Los cantos tradicionales en la iglesia</h3>
                </div>
                <div class="flexbottom">
                    <p>Los cantos africanos resuenan desde el exterior, ven a asistir a una ceremonia tradicional mozambiqueña donde los cantos se mezclan en acordes cautivadores</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>La música y el canto son parte integral de la cultura mozambiqueña, las misas tradicionales están acompañadas de cantos en armonía, que son completamente naturales para
                            los mozambiqueños, pero sorprendentes de melodía para nuestros oídos occidentales.
                        </p>
                        <h3>DURACIÓN:</h3>
                        <p>2h</p>
                        <p>A menudo el domingo a final de la mañana</p>
                        <p>Se puede organizar entre semana al final del día</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Vestimenta apropiada para una misa, pantalón o vestido cubriente, zapatos (ligeros).
                            Agua, hace bastante calor</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>10€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/fishing.webp" alt="fotos de pescadores con un pez grande">
                    <h3>Pesca de altura</h3>
                </div>
                <div class="flexbottom">
                    <p>Las costas mozambiqueñas aún escapan de la sobrepesca, apasionados sudafricanos te llevan a alta mar</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <h3>DURACIÓN:</h3>
                        <p>Media jornada, salida al amanecer, puede prolongarse hasta la tarde</p>
                        <h3>COMIDAS: </h3>
                        <p>No incluidas</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Apasionados de la pesca de altura</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>La experiencia es bastante intensa, en el océano fuera de la laguna, prever agua, protecciones solares</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>1 persona mínimo.</p>
                        <h3>Precio</h3>
                        <p>bajo demanda, las tarifas son elevadas, (alrededor de 200€ / persona)</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/Paddletrip.jpg" alt="foto de paddle board en un río">
                    <h3>Trip Paddle en la naturaleza</h3>
                </div>
                <div class="flexbottom">
                    <p>A través de ríos y lagunas para llegar a la laguna de Bilene</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                        <p>Un viaje mágico entre los pequeños ríos que desembocan en la laguna de Bilene</p>
                        <p>A través de ríos y lagunas para llegar a la laguna de Bilene</p>
                        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/bjOC7z6tVtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h3>COMIDAS: </h3>
                        <p>No incluidas</p>
                        <h3>PERFIL DEL PARTICIPANTE:</h3>
                        <p>Todas y todos</p>
                        <h3>RECOMENDACIONES:</h3>
                        <p>Ropa de playa, bañador, gorra, protección solar, agua</p>
                        <h3>NÚMERO MÍNIMO DE PARTICIPANTES:</h3>
                        <p>2 personas mínimo.</p>
                        <h3>Precio</h3>
                        <p>50€ / persona</p>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flextop">
                    <img src="/images/2-excursions/autres.webp" alt="foto de bosque exuberante">
                    <h3>Otros</h3>
                </div>
                <div class="flexbottom">
                    <p>Y más aún</p>
                    <button class="toggle-button"> > </button>
                    <div class="additional-text">
                    <h3>Máscara y Tubo</h3>
                    <h3>SUP Paddle Matinal</h3>
                    <h3>JetSki</h3>
                    <h3>Kayaking</h3>
                    <p>Contáctanos</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="photomaton">
            <img src="/images/2-excursions/5.webp" alt="">
            <img src="/images/2-excursions/4.webp" alt="">
            <div id="stylematon">
            </div>
            <div id="vignettematon" class="vignette"  data-aos="fade-down">
                <h2>Cómo organizarse</h2>
                <p>Mozambique es un país magnífico que merece ser conocido, y no solo por su clima ideal para los deportes acuáticos. Será un placer organizar toda tu estancia desde tu salida del aeropuerto.</p>
                <a href="/es/informaciones-mozambique"><button>CONTÁCTANOS</button></a>
            </div>
            <img id="ntchild3" src="/images/2-excursions/7.webp" alt="">
            <img id="ntchild4" src="/images/2-excursions/12.webp" alt="">
        </section>
    </main>
    <Footer />
</body>
</html>