---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>El Centro de kite en Bilene, Mozambique</title>
    <meta name="description" content="Presentación de nuestro centro de Kitesurf y Wingsurf en Mozambique">
    <meta name="keywords" content="kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, coaching, lessons">
    <Analytics />
</head>
<body>
    <MenuES />
    <main>
        <section id="headsection">
            <img src="/images/2-center/1.webp" alt="Centro de kite en la playa">
            <h1>El Centro de kite</h1>
            <h2 style="color: #b0cff7;">Todo para tu pasión</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Centro de cometas Bilene</h2>
                    <p>El centro se encuentra en la playa de Bilene. Está equipado con ducha, guardaropa y equipo, zona para endulzar el equipo, zona de secado, zona de frío, y por supuesto contiguo al Beach-bar del complejo hotelero Palmeiras. El centro está ubicado directamente en el pueblo, en una laguna clara y poco profunda, con acceso directo al Océano Índico, y con todas las comodidades del Complexo Palmeiras.
                        <a href="/es/el-spot-de-kitesurf-en-bilene-mozambique">Mas Info sobre Praia do Bilene</a>.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/2.webp" alt="paisaje de laguna">
                    <img src="/images/2-center/3.webp" alt="kiter visto de drone">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Un entorno idílico para kitesurf y los deportes acuáticos</h2>
                    <p>Ven y descubre el lugar perfecto, en un nuevo destino paradisíaco, lejos de los lugares masificados.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/4.webp" alt="paisaje de laguna">
                    <img src="/images/2-center/5.webp" alt="kiter visto de drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Bar-restaurante</h2>
                    <p>El centro está situado dentro del Complexo Palmeiras, un lugar familiar, entre Restaurante y Chiringuito con vista directa a toda la laguna, bungalows equipados, casas de vacaciones, camping, tienda, wifi, y un personal muy acogedor y sonriente, el Palmeiras es uno de los primeros establecimientos de la laguna y más conocido en todo el sur de Mozambique.
                        <a href="https://www.tripadvisor.com/Restaurant_Review-g1597322-d4421850-Reviews-Complexo_Palmeiras-Bilene_Gaza_Province.html">Más información: Complexo Palmeiras</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/6.webp" alt="terraza del restaurante">
                    <img src="/images/2-center/7.webp" alt="terraza del restaurante">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Equipo Eleveight</h2>
                    <p>Bilene Kite Center es socio de Eleveight, la marca de cometas de kitesurf que más está creciendo en los últimos años. Nuestro centro ofrece una gama completa de cometas, barras y tablas vintage nuevas, renovadas cada año. Desde 2022, contamos también con equipamiento para aprender y practicar wingsurf.
                        <a href="https://www.eleveightkites.com">Más información sobre Eleveight</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/8.webp" alt="paisaje de laguna">
                    <img src="/images/2-center/9.webp" alt="kiter visto de drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Travesías, excursiones, speedspots, downwinds, viajes</h2>
                    <p>Hay muchas áreas de agua perfectamente plana en la laguna, accesibles directamente desde el centro o en unos minutos en 4x4. Organizamos excursiones en barco con picnic para no perder ni un segundo de viento. La laguna es perfecta para largos paseos en kite en el magnífico escenario del África tropical. Finalizaremos nuestro recorrido en el mejor restaurante de mariscos de la laguna.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/10.webp" alt="Vista del speedspot">
                    <img src="/images/2-center/11.webp" alt="Vista drone del speedspot">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>SUP Paddle</h2>
                    <p>El centro ofrece toda una gama de SUP para explorar la laguna. Si te gusta madrugar, podrás disfrutar de la laguna como un verdadero espejo, antes de que el viento se asiente para el resto del día. Ofrecemos clases, alquileres o viajes organizados con nuestro instructor en este increíble paisaje africano.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/12.webp" alt="paddle visto de drone">
                    <img src="/images/2-center/13.webp" alt="sup paddle visto de drone">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>