---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>La escuela de kitesurf en Bilene, Mozambique</title>
    <meta name="description" content="Tu escuela de Kitesurf y Wingsurf en Mozambique, segura y profesional">
    <meta name="keywords" content="kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, iko, coaching, progression, olk, one Launch kiteboarding, lessons, freestyle, foil, strapless">
    <Analytics />
</head>
<body>
    <MenuES />
    <main>
        <section id="headsection">
            <img src="/images/3-school/1.webp" alt="Centro de kite en la playa">
            <h1>Escuela de Kitesurf</h1>
            <h2>Profesional, seguro, divertido y fácil</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Escuela de Kitesurf</h2>
                    <p>
                        Con una ubicación ideal en la laguna, con vientos laterales regulares, la escuela se beneficia de las condiciones ideales para aprender kitesurf. Con más de 5 años de experiencia enseñando kitesurf como instructor IKO, ofrecemos una pedagogía completa en torno a sus estándares. Esto garantiza un aprendizaje seguro en las mejores condiciones para los estudiantes. Nuestros instructores, están equipados con radio para una mejor comunicación constante con los estudiantes.
                        <a href="/es/el-spot-de-kitesurf-en-bilene-mozambique">Más información sobre el lugar</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/3.webp" alt="alumnos y monitor frente a una pizarra">
                    <img src="/images/3-school/2.webp" alt="alumnos y monitores en el agua">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Principiantes - iniciación</h2>
                    <p>Descubre el equipamiento, sistemas de seguridad, despegue y aterrizaje, control estático completo de la cometa en menos de 1m de agua. Luego practicaremos body draging, relanzamiento, primeros arranques en waterstarts y primeros metros navegando en la laguna. Nuestras clases, se imparten desde el principio en el agua, con total seguridad y tranquilidad.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/5.webp" alt="joven alumno y monitor en la playa">
                    <img src="/images/3-school/6.webp" alt="alumnos y monitores">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Intermedio</h2>
                    <p>Si ya has dado anteriormente tus primeras clases, aquí definitivamente comenzarás a navegar. Equipado con radio, mejorarás tu posición, control de velocidad, downwind y upwind. Luego vendrán las primeras transiciones para no parar nunca al cambiar de dirección. Dependiendo de sus deseos, podemos profundizar su conocimiento de la seguridad, el clima, el conocimiento de los elementos naturales y técnicos para fortalecer tu autonomía en la navegación.
                        Descubrirás que, en la laguna, se aprovechan mucho mejor las horas de clase, puesto que la poca profundidad de agua y la baja afluencia de cometas, evitan que pierdas tiempo en recuperar tu posición o en rescates.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/7.webp" alt="grupo de alumnos a la sombra del centro">
                    <img src="/images/3-school/8.webp" alt="kitesurfer en el agua">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Navegación supervisada</h2>
                    <p>A partir de cierto nivel, lo que necesitas para mejorar es practicar. La seguridad de nuestra laguna, nos permite ofrecerte servicio de supervisión: navega a placer por la laguna, sabiendo que alguien tiene siempre puestos los ojos en ti. Con o sin radio, tu supervisor nunca estará lejos para tu seguridad, y para darte algunos buenos consejos.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/9.webp" alt="kitesurfer en el agua">
                    <img src="/images/3-school/85.webp" alt="kitesurfer en agua plana">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Avanzado: Entrenamiento</h2>
                    <p>Para cualquier rider autónomo que desee progresar: Saltos, trucos, transiciones, conocimiento y ajustes avanzados de su equipo, en Twintip (tablas clásicas),
                        Strapless (tabla de surf) o foil, el kitesurf tiene la ventaja de multitud de tipos de prácticas, adaptadas a las condiciones o motivaciones de cada uno.
                        Utilizaremos análisis de video y radios en el agua. Serás supervisado por un instructor certificado OLK (One Launch Kiteboarding,
                        el grupo de entusiastas creado por Philippe Ancelin dedicado a la progresión del kitesurf) OLK, la mayor red francesa de escuelas en el extranjero:
                        más información en OLK OLK proporciona videos instructivos gratuitos para ayudarlo a continuar aprendiendo desde casa. <a href="https://www.onelaunchkiteboarding.com/">tutoriales de OLK</a>
                        </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/11.webp" alt="kitesurfer durante un salto">
                    <img src="/images/3-school/10.webp" alt="kitesurfer en el agua">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Etapa de progresión</h2>
                    <p>Con una duración media de una semana, y adaptable según tus deseos (no olvidemos que también estás de vacaciones). Te ofrecemos un completo curso avanzado de kitesurf.
                        Desde los ajustes más avanzados hasta los trucos más "elegantes", pasando por el aprendizaje de las más pequeñas sensaciones con tu cometa que marcan la diferencia,
                        este curso está dirigido a entusiastas que deseen aumentar su nivel de práctica. El curso incluye: Vídeos informativos, múltiples sesiones filmadas en el agua,
                        video debriefing y mejora diaria de tu estilo en el agua.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/3-school/12.webp" alt="grupo de personas en la playa">
                    <img src="/images/3-school/13.webp" alt="kitesurfer durante un salto">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Equipo Eleveight</h2>
                    <p>Bilene Kite Center es socio de Eleveight, la marca de cometas en ascenso, creada por entusiastas, para entusiastas. Nuestro centro ofrece una gama completa de cometas, barras y tablas, renovadas cada año. Desde 2022, contamos también con equipamiento para aprender y practicar Wingsurf.
                        <a href="https://www.eleveightkites.com">Más información sobre Eleveight</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/2-center/8.webp" alt="paisaje de laguna">
                    <img src="/images/2-center/9.webp" alt="kiter visto de drone">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>