---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>FAQ Bilene, Mozambique</title>
    <meta name="description" content="Las preguntas frecuentes sobre Bilene Kite Center en Mozambique">
    <meta name="keywords" content="alojamiento, hotel, restaurante, visados, vuelos, aerolíneas, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene">
    <Analytics />
</head>
<body>
    <MenuES />

    <main>
        <section id="headsection">
            <img src="/images/11-Accomodation/Palm_view.jpg" alt="Vista sobre la laguna de Bilene">
            <h1 style="text-shadow: 1px 1px 2px black;">FAQ</h1>
            <h2 style="color: #b0cff7; text-shadow: 1px 1px 2px black;">Preguntas frecuentes</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>FAQ</h2>
                    <p>En construcción, consulta la <a href="/es/informaciones-mozambique">página de información</a>
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/inprogress.webp" alt="Foto de un kitesurfer en el aire">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>