---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
import '../../css/gallery.css';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Galería fotos y videos de Bilene Kite Center Mozambique</title>
    <meta name="description" content="Nuestra galería de fotos y videos de Kitesurf y Wingsurf en Mozambique">
    <meta name="keywords" content="photo, photos, video, videos, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene">
    <Analytics />
</head>
<body>
    <MenuES />
    <main>
        <section id="headsection">
            <img src="/images/6-galerie/1.webp" alt="una galería">
            <h1>Galería</h1>
            <h2>Una imagen vale más que mil palabras</h2>
        </section>
        <section>
            <h2>Algunos videos</h2>
            <p>Los horizontes paradisíacos y vírgenes de Mozambique son perfectos para todo tipo de fotos y videos, cada una, más bella que la anterior. En esta sección, queremos compartir algunos videos y fotos, que te acercarán a la atmósfera del país y a la experiencia de las personas que ya nos han visitado.
                Disfrutar del Kitesurf y de explorar a la vez Mozambique, será una experiencia inolvidable.
            </p>
        </section>
        <section id="mainsection">
            <div class="flexdiv middle">
                <div class="flextext">
                    <h2>Leo Pariente, en Bilene</h2>
                    <p>Leo es un rider pro de F-ONE. Ha quedado tan maravillado con Mozambique, que nos ha visitado dos veces.
                        Verle entrenar aquí hace que Bilene sea aún más espectacular. Hemos hecho una trilogía de videos, el segundo de los cuales está dedicado a Bilene.
                         <br>
                        <a href="https://vimeo.com/398790433" target="_blank">El primero</a> / <a href="https://www.youtube.com/watch?v=xHdzCLvOSf0" target="_blank">El tercero</a>
                    </p>
                </div>
                <div class="fleximg">
                    <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/EA8pjVDsoGk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="flexdiv background middle">
                <div class="flextext">
                    <h2>Celine Sauvage : aventurera y kitesurfista</h2>
                    <p>Un video hermoso e inspirador, dedicado a la belleza de Mozambique. La seguiremos en muchos spots de kitesurf,
                        pero también en los caminos del país, en las reservas naturales que visitó, todo ello reunido en un magnífico montaje.</p>
                </div>
                <div class="fleximg">
                    <div id="containervimeo">
                        <div id="bug"></div>
                        <iframe class="vid" src="https://player.vimeo.com/video/297911471?h=7ffff87d30&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="flexdiv middle">
                <div class="flextext">
                    <h2>Xai Xai</h2>
                    <p>Paul Serin, Victor Hayes y Nino Liboni también se decidieron a visitarnos en Mozambique. Este video, grabado y editado por ellos mismos muestra algunos momentos de su aventura.
                    </p>
                </div>
                <div class="fleximg">
                    <div>
                        <a href="https://www.youtube.com/watch?v=ZtD4t0RPwwo" target="_blank"><img id="xaixai" src="/images/6-galerie/xaixai.webp" alt="imagen del film XaiXai"></a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Galería de fotos</h2>
            <div class="gallery" id="gallery">
                <div class="gallery-item">
                    <div class="content"><img src="/images/accueil/4.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/accueil/5.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/1.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/2.webp" alt="" ></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/10-people/2.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/10-people/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/10-people/5.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/3.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/5.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/6.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/6 dispo.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/8.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/10.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/11.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/1-spot/13.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/6.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/1.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/3-school/7.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/2-center/11.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/3-school/12.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/2.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/4.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/6.webp" alt="" loading="lazy"></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/images/4-trips/7.webp" alt="" loading="lazy"></div>
                </div>
            </div>
        </section>
    </main>
    <script is:inline src="/js/gallery.js"></script>
    <Footer />
</body>
</html>