---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Viajes y excursiones de Kitesurf en Mozambique</title>
    <meta name="description" content="Viajes y excursiones de Kitesurf y Wingsurf en Mozambique">
    <meta name="keywords" content="trip, trips, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene, excursiones, viajes">
    <Analytics />
</head>
<body>
    <MenuES />
    <main>
        <section id="headsection">
            <img src="/images/4-trips/1.webp" alt="Paisaje de playa visto de drone">
            <h1>Viajes y excursiones de Kitesurf</h1>
            <h2 style="color: #b0cff7;">Más de 2500 km de playas y rincones</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Viajar, la esencia del kitesurf</h2>
                    <p>
                        Mozambique es conocido como <a href="https://www.easyvoyage.com/actualite/voyage-au-mozambique-sur-les-plus-belles-plages-d-afrique-62902">el país con las playas más bonitas de África</a>.
                        Una reserva inagotable de rincones vírgenes, la mayoría de los cuales están por descubrir.
                        El kitesurf, es uno de esos deportes fascinantes, emocionantes, propicios para viajar y descubrir nuevos destinos. Nos adaptamos a tus demandas, desde excursiones de 1 solo día,
                        hasta de varios días en lugares que no olvidarás fácilmente.
                    </p>
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <iframe src="https://player.vimeo.com/video/398790433?h=1d489d97f7&autoplay=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/3.webp" alt="viajeros frente a un coche">
                    <img src="/images/4-trips/2.webp" alt="paisaje visto de drone">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Excursiones de un día</h2>
                    <p>A menos de 1 hora de Bilene, en 4x4, cruzaremos pueblos típicos locales, y recorreremos bellos paisajes para llevarte a navegar a las aguas más planas que hayas podido disfrutar.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/4.webp" alt="atardecer visto desde el coche">
                    <img src="/images/4-trips/5.webp" alt="playa y océano visto de drone">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Excursión de varios días</h2>
                    <p>
                        La costa mozambicana es tan extensa que nos permite planificar viajes allá donde el viento tenga mejores condiciones, Tofo, Inharimé, Zavora, Inhambae, son algunos de nuestros destinos favoritos.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/7.webp" alt="viajeros frente a un coche">
                    <img src="/images/4-trips/6.webp" alt="paisaje visto de drone">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Viaje de una semana</h2>
                    <p>¿Te atreves a recorrer el sur de mozambique haciendo Kite?. Disfrutaras de la cultura local, de sus paisajes y comidas, nos adentraremos hasta Vilanculos, o a algunos "lugares secretos" que nos encanta visitar. Te mostraremos lugares donde la desconexión digital es total, dormiremos en casas de paja, rodeados solo de los sonidos del mar.
                        </p>
                </div>
                <div class="fleximg">
                    <img src="/images/4-trips/8.webp" alt="paisaje de laguna visto de drone">
                    <img src="/images/4-trips/9.webp" alt="playa y océano con coche y equipamiento">
                </div>
            </div>
        </section>
    </main>
    <script is:inline src="https://player.vimeo.com/api/player.js"></script>
    <Footer />
</body>
</html>