---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Safaris al Kruger y reservas naturales en Mozambique</title>
    <meta name="description" content="Los safaris al parque Kruger que organizamos para ti desde Bilene Kite Center en Mozambique">
    <meta name="keywords" content="safari, safaris, kruger, maputo, reserva de maputo, parque Kruger, krugerpark, tour operator">
    <Analytics />
</head>
<body>
    <MenuES />

    <main>
        <section id="headsection">
            <img src="/images/9-Safari/shutterstock_480338395_1.jpg" alt="Foto de safari en África">
            <h1 style="text-shadow: 1px 1px 2px black;">Las Reservas Naturales</h1>
            <h2 style="color: #b0cff7; text-shadow: 1px 1px 2px black;">El famoso parque Kruger está a un paso.</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <h2>El Parque Kruger</h2>
                    <p>Descubre la extraordinaria riqueza de la fauna salvaje durante la visita al Parque Kruger propuesta por nuestro pequeño Tour Operador local.
                        Una de las mayores reservas animales de África. ¡El big five casi podría estar garantizado!
                        Sumérgete en el corazón de paisajes impresionantes, donde leones, elefantes,
                        leopardos, búfalos, jirafas y rinocerontes evolucionan libremente en su hábitat natural. Acompañado de guías expertos, explorarás rutas
                        y senderos secretos, beneficiándote de una vista inmejorable de las escenas de la vida salvaje. La visita puede hacerse en un día o en varios.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/20221031_162123.jpg" alt="paisaje de safari en África">
                    <img src="/images/9-Safari/428629023_10232894610696897_4990606952117945171_n.jpg" alt="Leones tumbados al borde del camino">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>La reserva de elefantes de Maputo</h2>
                    <p>Embárcate en un safari único en la Reserva de Elefantes de Maputo y sal al encuentro de estos animales majestuosos
                        que pueblan esta reserva salvaje.
                        Explora esta zona de conservación preservada en 4x4 y observa estos animales fascinantes evolucionando en su hábitat natural.
                        También tendrás la oportunidad de descubrir una fauna y flora ricas y variadas, con especialmente
                        jirafas, cebras, hipopótamos, impalas, jabalíes, así como una multitud de aves.</p>
                </div>
                <div class="fleximg">
                    <img src="/images/10-maputoreserve/1-E.jpg" alt="elefante en un paisaje natural">
                    <img src="/images/10-maputoreserve/4-G-traverse.jpg" alt="jirafa cruzando la carretera delante del coche">
                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <h2>Combo Eswatini</h2>
                    <p>Nuestro pequeño tour operador local también propone el combo "Eswatini & Kruger" que comienza en Maputo y ofrece una experiencia similar a los paquetes
                        de varios días en el Kruger, pero además con un paso por el fascinante Reino de eSwatini. En una hora, pasamos de la naturaleza salvaje
                        al colorido eSwatini, antigua monarquía conocida como Swazilandia. Este pequeño valle entre montañas alberga una cultura única y vibrante.
                        Visitaremos el pueblo cultural de Mantenga, donde una animada danza swazi con tambores resonará durante mucho tiempo
                        en ti. Disfrutaremos de un momento de paz en la cascada de Mantenga, seguido de un almuerzo en la finca histórica de Malandela y una visita a la
                        Casa en Fuego, símbolo de la creciente identidad de eSwatini. La visita termina en la célebre fábrica de velas, convertida en un centro
                        de artesanía y artes.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/Eswatini1.jpg" alt="terraza del restaurante">
                    <img src="/images/9-Safari/eswa2.jpg" alt="terraza del restaurante">
                </div>
            </div>
            <div class="flexdiv background">
                <div class="flextext">
                    <h2>Nuestra opinión</h2>
                    <p>Posible en varios días, nos ocupamos de todo: reservas del Tour Operador, traslados, tu hotel en Maputo. Recomendamos
                        hacer tu safari al principio o al final de tu estancia para limitar los viajes de ida y vuelta. El Kruger nos parece el más fantástico, la reserva de Maputo más íntima,
                        el combo Eswatini si quieres descubrir otra cultura antes de sumergirte en la reserva natural del Kruger Park.
                    </p>
                </div>
                <div class="fleximg">
                    <img src="/images/9-Safari/Eleph.jpg" alt="familia de elefantes en la naturaleza">
                    <img src="/images/9-Safari/girafe.jpg" alt="foto de una jirafa de cerca">
                </div>
            </div>
        </section>
    </main>
    <Footer />
</body>
</html>