---
import MenuES from '../../components/MenuES.astro';
import Footer from '../../components/Footer.astro';
import Analytics from '../../components/Analytics.astro';
import '../../sass/general.scss';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Servicios y precios en Bilene Kite Center, Mozambique</title>
    <meta name="description" content="Precios y servicios de Kitesurf y Wingsurf en Bilene, Mozambique">
    <meta name="keywords" content="precios, servicios, kite, kitesurf, kiteboard, wing, wingsurf, SUP, paddle, Mozambique, Bilene">
    <Analytics />
</head>
<body>
    <MenuES />
    <main>
        <section id="headsection">
            <img src="/images/5-prices/1.webp" alt="ordenador portátil sobre un escritorio">
            <h1 style="color:#d9dcdf;text-shadow: 1px 1px 2px black;">Servicios y precios</h1>
            <h2 style="color:#d9dcdf;text-shadow: 1px 1px 2px black;">Mozambique al mejor precio</h2>
        </section>
        <section id="mainprice">
            <p>En esta página, encontrarás ejemplos de los paquetes más demandados, y los precios detallados de los servicios que ofrecemos en nuestro centro de kitesurf en Mozambique.
            </p>
            <h2>Algunos ejemplos de paquetes para 4 personas <button class="toggle" data-target="#block1">...</button></h2>
            <div id="block1" class="block">
                <p>Estos precios se dan como una indicación, como un ejemplo para darle una idea de los costos en el sitio. Se ofrecen en forma de paquetes, para grupos de 4 personas,
                    los precios son por persona.
                </p>
                <p>
                    Las comidas no están incluidas en estos precios, Bilene ofrece muchos restaurantes y bares cuyos precios pueden variar enormemente según su clasificación.
                    Cuente en promedio entre 5€ y 10€ por persona para desayunos, entre 10€ y 15€ para almuerzos y cenas.
                </p>
                <section id="packages">
                    <div class="packs">
                        <img src="/images/accueil/4.webp" alt="kitesurfer durante un salto">
                        <aside>
                            <h2>Mejora tu Nivel</h2>
                            <p>8 dias, 7 noches</p>
                        </aside>
                        <p>INCLUYE :</p>
                        <ul>
                            <li>Transbordos aeropuerto Bilene Aeropuerto</li>
                            <li>Alojamiento en bungalow de 2 dormitorios con baño (2personas por habitación)</li>
                            <li>semana de perfeccionamiento OLK</li>
                            <li>Asistencia en playa</li>
                            <li>SUP Paddle-surf 5horas</li>
                            <li>1x excursión al Speed Spot</li>
                        </ul>
                        <div class="price">
                            <div>
                                <p>Desde:</p>
                                <p>590 €</p>
                            </div>
                            <a href="/es/informaciones-mozambique#contactus"><button>Mas informaciones</button></a>
                        </div>
                    </div>
                    <div class="packs">
                        <img src="/images/3-school/9.webp" alt="kitesurfer en el agua">
                        <aside>
                            <h2>ENAMORADOS DEL KITE</h2>
                            <p>8 dias, 7 noches</p>
                        </aside>
                        <p>INCLUYE :</p>
                        <ul>
                            <li>Transbordos aeropuerto Bilene Aeropuerto</li>
                            <li>Alojamiento en bungalow de 2 dormitorios con baño (2personas por habitación)</li>
                            <li>Asistencia en playa</li>
                            <li>SUP Paddle-surf 5horas</li>
                            <li>1x excursión al Speed Spot</li>
                        </ul>
                        <div class="price">
                            <div>
                                <p>Desde:</p>
                                <p>360 €</p>
                            </div>
                            <a href="/es/informaciones-mozambique#contactus"><button>Mas informaciones</button></a>
                        </div>
                    </div>
                    <div class="packs">
                        <img src="/images/accueil/3.webp" alt="alumnos y monitor de kitesurf">
                        <aside>
                            <h2>APRENDE</h2>
                            <p>8 dias, 7 noches</p>
                        </aside>
                        <p>INCLUYE :</p>
                        <ul>
                            <li>Transbordos aeropuerto Bilene Aeropuerto</li>
                            <li>Alojamiento en bungalow de 2 dormitorios con baño (2personas por habitación)</li>
                            <li>Asistencia en playa</li>
                            <li>SUP Paddle-surf 5horas</li>
                            <li>10 horas de clases de kitesurf</li>
                        </ul>
                        <div class="price">
                            <div>
                                <p>Desde:</p>
                                <p>559 €</p>
                            </div>
                            <a href="/es/informaciones-mozambique#contactus"><button>Mas informaciones</button></a>
                        </div>
                    </div>
                </section>
            </div>

            <section id="prixtrips">
                <h2>Aventuras de Kitesurf en Mozambique</h2>
                <p>Si quieres vivir una experiencia inolvidable, nosotros nos encargamos de todo. Te llevaremos a descubrir los mejores lugares de la costa del sur de Mozambique.
                    <a href="/es/kite-trip-en-mozambique">Puede descubrirlos en nuestra página dedicada.</a>
                    ¿Crees que esto debe ser muy caro? Para nada, para dar una idea, un grupo de 4 personas, la media ronda los 100€/día/persona, incluyendo alojamiento, transporte,
                    guía en los lugares, asistencia en playa y pensión completa.
                    <br>
                </p>
                <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/342077640?h=04157a2824&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </section>
            <section id="prixlessons">
                <h2>Tarifas del Centro de Kitesurf</h2>
                <p>
                    Aquí encontrarás los precios de todos los servicios que ofrecemos. Estamos ubicados directamente en la tranquila playa, en un complejo hotelero agradablemente integrado en la naturaleza: el complejo Palmeiras. Ofrece varios tipos de alojamiento, wifi, tienda, así como un restaurante y chiringuito directamente en la playa.
                </p>
                <div class="groupPrice">
                    <img src="/images/5-prices/11.webp" alt="lista de precios" loading="lazy">
                    <img src="/images/5-prices/12.webp" alt="lista de precios" loading="lazy">
                </div>
                <div class="groupPrice">
                    <img src="/images/5-prices/13.webp" alt="lista de precios" loading="lazy">
                    <img src="/images/5-prices/14.webp" alt="lista de precios" loading="lazy">
                </div>
                <div class="groupPrice">
                    <img src="/images/5-prices/15.webp" alt="lista de precios" loading="lazy">
                    <img src="/images/5-prices/16.webp" alt="lista de precios" loading="lazy">
                </div>
            </section>
        </section>
    </main>
    <script is:inline src="https://player.vimeo.com/api/player.js"></script>
    <Footer />
</body>
</html>