---
import Menu from '../../../components/Menu.astro';
import Footer from '../../../components/Footer.astro';
import Analytics from '../../../components/Analytics.astro';
import '../../../sass/general.scss';
---

<!DOCTYPE html>
<html lang="fr">
<head><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Nouveau, les massages à Bilene Kite Center</title>
    <meta name="description" content="Premier article du blog Bilene Kite Center : bienvenue et présentation de notre blog kitesurf au Mozambique">
    <Analytics />
</head>
<body>
    <Menu />

    <main>
        <section id="headsection">
            <img src="/images/blog/blog.webp" alt="blog Bilene Kite Center">
            <h1>Nouveau, les massages à Bilene Kite Center</h1>
            <h2>Février 2026</h2>
        </section>
        <section id="mainsection">
            <div class="flexdiv">
                <div class="flextext">
                    <p>Nous sommes ravis de lancer le blog du Bilene Kite Center ! Ici, nous partagerons régulièrement nos actualités, des conseils pour le kitesurf au Mozambique, les meilleures conditions de vent, et tout ce qui fait la magie de Bilene.</p>
                    <p>Restez connectés pour découvrir nos prochains articles sur les spots, les conditions météo, la vie locale et bien plus encore.</p>
                    <p>À très bientôt sur l'eau !</p>
                </div>
                <div class="fleximg">
                    <img src="/images/blog/massage.webp" alt="blog Bilene Kite Center">


                </div>
            </div>
            <div class="flexdiv">
                <div class="flextext">
                    <a href="/fr/blog">← Retour au blog</a>
                </div>
            </div>
        </section>
    </main>

    <Footer />
</body>
</html>
